
h1{
    font-family: Cambria;
}
h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li{
    padding-bottom: 10px;
}
.custom1{
    background-color:tan;
}
.intro{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.paddingSpace{
    padding: 20px;
}